<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBseqpG39s5b3sUDc7iaZcG5Ja0I7LtRyU</string>
	<key>GCM_SENDER_ID</key>
	<string>958655621444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medCallPatient</string>
	<key>PROJECT_ID</key>
	<string>med-call-kz</string>
	<key>STORAGE_BUCKET</key>
	<string>med-call-kz.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958655621444:ios:97642efb234f2d2a184f11</string>
</dict>
</plist>